<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding0">
        <contribution-calculator data-title="vm.contributionCalculatorComponentConfig.title"></contribution-calculator>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding0">
          <contribution-catalog data-title="vm.contributionComponentConfig.title"
                                data-size="vm.contributionComponentConfig.size"
                                data-sort="vm.contributionComponentConfig.sort"
                                data-read-only="vm.contributionComponentConfig.readOnly">
          </contribution-catalog>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding0">
        <contributor-catalog data-title="vm.contributorComponentConfig.title"
                             data-size="vm.contributorComponentConfig.size"
                             data-sort="vm.contributorComponentConfig.sort"
                             data-read-only="vm.contributorComponentConfig.readOnly">
        </contributor-catalog>
    </div>
</div>
